<%- include("header") -%>

<h2>This is the about page</h2>

<p>gvgdchbcud udhudnjkxc uhcdujlsknc ijfijckx cidjdfifcjsdicmlks dihhifjkdssmclksdjichdsc ijdcijic iujdijeikc ijidjskcm jdjdkmas </p>

<%- include("footer") -%>